.product{
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
} 
.product-image {
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Maintain aspect ratio */
    margin: 5px;
    border-radius: 5px;
  }
.card-container {
  background: #F2F2F2 ;
}
